<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cema App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-content">

  <div class="content-wrapper">
    <div class="welcome-text">
      <h1>Welcome to Cema App</h1>
      <p>Your health journey starts here.</p>
    </div>

    <div class="button-container">
      <ion-button shape="round" expand="block" (click)="goToLogin()" cl class="get-started-button">
        Get Started
      </ion-button>
    </div>
  </div>

</ion-content>